.active-section{
    max-width: 1200px;
    margin: auto;
    .activ-div{
        max-width: 780px;
        height: 237px;
        margin: auto;
        h3{
            font-family: Water Brush;
            font-size: 46px;
            font-weight: 400;
            line-height: 66.7px;
            color: #CD1A40;
            text-align: center;
        }
        h4{
            font-family: Work Sans;
            font-size: 64px;
            font-weight: 200;
            line-height: 75.07px;
            color:#1E1E1E;
            text-align: center;
            text-transform: uppercase;
            margin: 18px 0px;
        }
        p{
            font-family: Work Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            color:#1E1E1E;
            text-align: center; 
        }
    }
    .active-box{
        max-width: 1185px;
        
        margin:36px auto ;
        font-family: Work Sans;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        .adventure{
            max-width: 378px;
            height: 412px;
            padding: 36px 33px 38px 33px;
            border-radius: 6px;
            background: linear-gradient(90deg, #CD1A40 -11%, #FF803C 109.5%);
            .adventure-img{
                max-width: 127px;
                height: 122px;
                margin: auto;
            }
            h3{
                text-align: center;
                font-weight: 700;
                font-size: 32px;
                line-height: 37.54px;
                color: #ffff;
                margin-top: 38px;

            }
            p{
                text-align: center;
                margin-top: 11px;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #ffff;
            }
        }
        .active-tow{
            background-color: #FFF9F0;
            color: #999999;
            max-width: 378px;
            height: 412px;
            padding: 36px 33px 38px 33px;
            .adventure-img{
                max-width: 127px;
                height: 122px;
                margin: auto;
            }
            h3{
                text-align: center;
                font-weight: 700;
                font-size: 32px;
                line-height: 37.54px;
                margin-top: 38px;

            }
            p{
                text-align: center;
                margin-top: 11px;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}